body {
    background-color: #f9f9f9;
}

img {
    height: 300px;
    width: auto;
    display: block;
    margin: 0px auto;
}

.title {
    margin: 90px auto;
    max-width: 340px;
    border: none;
    padding: 20px;
    text-align: center;
}

.inputText {
    width: 200px;
    font-size: large;
}

.inputButton {
    font-size: large;
}


#textList {
    margin: 10px auto;
    padding: 20px;
    text-align: left;
    background-color: aquamarine;
}

#textList .row {
    color: black;
}